<html dir="rtl" lang="ar">
  <mat-card class="cardWithShadow">
    <mat-card-content class="mat-card-content">
      <mat-card-title class="title">قائمة المستخدمين</mat-card-title>
      <div class="row">
        <div class="col-8">
            <input class="search" placeholder="ابحث عن مستخدم" />
        </div>
        <div class="col-4">
          <button class="search-btn"  (click)="showAddUserDialog()">
              إضافة مستخدم
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <!-- Table Head -->
          <thead>
            <tr>
              <th  scope="col">#</th>
              <th  scope="col">الاسم</th>
              <th  scope="col">البريد الإلكتروني</th>
              <th  scope="col">الأدوار</th>
              <th  scope="col">الحالة</th>
              <th  scope="col" class="text-center">الإجراءات</th>
            </tr>
          </thead>

          <!-- Table Body -->
          <tbody>
            <tr *ngFor="let user of users; trackBy: trackByName" class="align-middle">
              <th class="text-center">{{ user.id }}</th>
              <td class="nowrap"  >{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <span class="role" *ngFor="let role of user.roles; let last = last">
                   {{ role }}
                </span>
              </td>
              <td>{{ user.status || 'نشط' }}</td>

              <!-- Actions Column -->
              <td class="text-center">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="خيارات المستخدم"
                  class="p-0 m-0"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>add</mat-icon>
                    <span>إضافة</span>
                  </button>
                  <button mat-menu-item (click)="showEditUserDialog(user)">
                    <mat-icon>edit</mat-icon>
                    <span>تعديل</span>
                  </button>
                  <button mat-menu-item (click)="deleteUser(user.id)">
                    <mat-icon>delete</mat-icon>
                    <span>حذف</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</html>
