<html dir="rtl" lang="ar">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">إضافة منتج جديد</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div *ngIf="isLoading" class="loading-con">
        <loading></loading>
      </div>
      <div *ngIf="!isLoading">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <!-- اسم المنتج -->
              <mat-label class="f-w-600 m-b-8 d-block">الاسم</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  placeholder="اسم المنتج"
                  [(ngModel)]="product.name"
                  name="name"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6">
              <!-- وصف المنتج -->
              <mat-label class="f-w-600 m-b-8 d-block">الوصف</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  placeholder="وصف المنتج"
                  [(ngModel)]="product.description"
                  name="description"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6">
              <!-- سعر الشراء -->
              <mat-label class="f-w-600 m-b-8 d-block">سعر الشراء</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  placeholder="سعر الشراء"
                  [(ngModel)]="product.purchase_price"
                  name="purchase_price"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6">
              <!-- سعر البيع -->
              <mat-label class="f-w-600 m-b-8 d-block">سعر البيع</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  placeholder="سعر البيع"
                  [(ngModel)]="product.sale_price"
                  name="sale_price"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6">
              <!-- الكمية في المخزن -->
              <mat-label class="f-w-600 m-b-8 d-block">الكمية في المخزن</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  placeholder="الكمية"
                  [(ngModel)]="product.stock_quantity"
                  name="stock_quantity"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6">
              <!-- المورد -->
              <mat-label class="f-w-600 m-b-8 d-block">المورد</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  placeholder="المورد"
                  [(ngModel)]="product.supplier"
                  name="supplier"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>

      <div class="m-t-12">
        <button
          mat-stroked-button
          (click)="onSubmit()"
          color="primary"
          class="m-r-8"
        >
          حفظ
        </button>
        <button (click)="goBack()" mat-stroked-button color="warn">
          إلغاء
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</html>
