<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Adding a new product</mat-card-title>
  </mat-card-header>
  
  <!-- Scrollable content wrapper -->
  <mat-card-content class="b-t-1 scrollable-content">
    <form>

      <div class="row">
        <div class="col-lg-3">
          <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Your name" [(ngModel)]="product.name" name="name" />
          </mat-form-field>
        </div>
        
        <div class="col-lg-3">
          <mat-label class="f-w-600 m-b-8 d-block">Description</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="text" [(ngModel)]="product.description" name="description" placeholder="Description" />
          </mat-form-field>
        </div>
        
        <div class="col-lg-3">
          <mat-label class="f-w-600 m-b-8 d-block">Price</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="number" [(ngModel)]="product.price" name="price" placeholder="Price" />
          </mat-form-field>
        </div>
        
        <div class="col-lg-3">
          <mat-label class="f-w-600 m-b-8 d-block">Stock Quantity</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput type="number" [(ngModel)]="product.stockQuantity" name="quantity" placeholder="Quantity" />
          </mat-form-field>
        </div>
        
        <div class="col-lg-3">
          <mat-label class="f-w-600 m-b-8 d-block">Category</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(value)]="product.idCategory">
              <mat-option [value]="">Select Category</mat-option>
              @for(category of categories; track category.idCategory) {
                <mat-option [value]="category.idCategory">{{ category.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
 
        </div>
        <!-- <div class="col-lg-3">
           
        </div> -->
        <!-- <div class="col-lg-3">
            
        </div> -->
        <!-- <div class="col-lg-3">
            
        </div> -->
 
 


      </div>
      <div class="row">
        @if(product.principalPhoto && product.principalPhoto !== "") {
          <div class="col-lg-4">
            <img [src]="product.principalPhoto" class="product-image" alt="Product Photo" />
            <label for="exampleFormControlFile1">the principal photo</label>
          <input class="form-control-file" type="file" (change)="onFileSelected($event)" />  
          </div>
        }
        @if( product.principalPhoto == null ||  product.principalPhoto == "") {
          <div class="col-lg-4">
            <img  src="https://i.pinimg.com/474x/67/52/c7/6752c7d13005b6e5800f0dd3b1290b45.jpg" class="product-image" alt="Product Photo" />
            <label for="exampleFormControlFile1">the principal photo</label>
          <input class="form-control-file" type="file" (change)="onFileSelected($event)" />  
            
          </div>
          
        }

        @if(  img1 != "" && img1 != null) {
          <div class="col-lg-4">
            <img [src]="img1" class="product-image" alt="Product Photo" />
            <label for="exampleFormControlFile1"> the secondary photo</label>
          <input class="form-control-file" type="file" (change)="onFileSelectedsecond($event)" /> 
          </div>
        }
        @if( img1 == null|| img1=="") {
          <div class="col-lg-4">
            <img  src="https://i.pinimg.com/474x/67/52/c7/6752c7d13005b6e5800f0dd3b1290b45.jpg" class="product-image" alt="Product Photo" />
            <label for="exampleFormControlFile1"> the secondary photo</label>
          <input class="form-control-file" type="file" (change)="onFileSelectedsecond($event)" /> 
          </div>
          
        }
        

        @if( img2 != "" && img2 != null) {
          <div class="col-lg-4">
            <img [src]="img2" class="product-image" alt="Product Photo" />
            <label for="exampleFormControlFile1"> the third photo</label>
          <input class="form-control-file" type="file" (change)="onFileSelectedthird($event)" /> 
          </div>
        }
        @if( img2 == null || img2 =="") {
          <div class="col-lg-4">
            <img  src="https://i.pinimg.com/474x/67/52/c7/6752c7d13005b6e5800f0dd3b1290b45.jpg" class="product-image" alt="Product Photo" />
            <label for="exampleFormControlFile1"> the third photo</label>
          <input class="form-control-file" type="file" (change)="onFileSelectedthird($event)" /> 
          </div>
          
        }
        

      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" (click)="Onsubmit()" class="m-r-8">Submit</button>
        <button mat-stroked-button color="warn">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
