.product-image {
    width: 100%;  /* Responsive width */
    max-width: 150px;  /* Limit max size */
    height: auto;
    max-height: 150px;
    display: block;
    margin-top: 10px;
    object-fit: cover;  /* Ensures a nice fit */
  }

  .image-container{
    justify-content: center;
    align-items: center;
    display: flex;
  }