<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Order List</mat-card-title>
  
      <div class="table-responsive">
        <div class="row">
            <div class="col-lg-6">
              <!-- input -->
              <!-- <mat-label class="f-w-400 m-b-8 d-block">Your Name</mat-label> -->
              <mat-form-field appearance="outline" class="w-25 m-r-10" color="primary">
                <input matInput placeholder="product " />
              </mat-form-field>
             
                
              </div>
              <div class="col-lg-3">
                <button mat-menu-item (click)="OpenAddDilog()" >
                  <i class="fa-solid fa-square-plus icon-view"></i>
                </button></div>

        </div>
        <table class="table table-hover">
          <!-- Table Head -->
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Status</th>
              <th scope="col">Description</th>
              <th scope="col">Total Price</th>
              
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
  
          <!-- Table Body -->
          <tbody>
            <tr *ngFor="let order of orders; trackBy: trackById" class="align-middle">
              <!-- ID Column -->
              <th scope="row" class="text-dark text-center">{{ order.idOrder }}</th>
  
              <!-- Other Columns -->
              <td>{{ order.status }}</td>
              <td>{{ order.description }}</td>
              <td>${{ order.totalPrice }}</td>
            
              <!-- Actions Column with Menu -->
              <td class="text-center">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Order actions menu"
                  class="p-0 m-0"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>View</span>
                  </button>
                  <button mat-menu-item (click)="OpenEditDilog(order)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="deleteOrder(order.idOrder)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  