<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Adding a new Order</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form>
        <div class="row">
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">description</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="order description " [(ngModel)]="order.description" name="description"   />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">prix</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="prix " [(ngModel)]="order.totalPrice" name="totalPrice"   />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">status</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(value)]="order.status">
                <mat-option [value]="" aria-disabled="false"> select status </mat-option>
                @for(status of statuses; track status.value) {
                <mat-option [value]="status.value">{{
                    status.value
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- input -->
            <mat-label class="f-w-600 m-b-8 d-block">client</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(value)]="order.idUser">
                <mat-option [value]="" aria-disabled="false"> select client </mat-option>
                @for(client of clients; track client.id) {
                <mat-option [value]="client.id">{{
                    client.name  
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
       
          
        </div>
  
        <div class="m-t-12">
          <button mat-flat-button color="primary" (click)="onSubmit()" class="m-r-8">Submit</button>
          <button mat-stroked-button color="warn">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  