<html dir="rtl">
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">إضافة منتج جديد</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      
      <!-- Loading -->
      <div *ngIf="isLoading" class="loading-con">
        <loading></loading>
      </div>

      <!-- Form -->
      <div *ngIf="!isLoading">
        <form>
          <div class="row">
            
            <!-- Product Name -->
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">اسم المنتج</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  placeholder="اسم المنتج"
                  [(ngModel)]="product.name"
                  name="name"
                />
              </mat-form-field>
            </div>

            <!-- Description -->
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">الوصف</mat-label>
              <mat-form-field class="w-100">
                <textarea
                  matInput
                  placeholder="وصف المنتج"
                  [(ngModel)]="product.description"
                  name="description"
                  rows="2"
                ></textarea>
              </mat-form-field>
            </div>

            <!-- Purchase Price -->
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">سعر الشراء</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  [(ngModel)]="product.purchase_price"
                  name="purchase_price"
                  placeholder="0.00"
                />
              </mat-form-field>
            </div>

            <!-- Sale Price -->
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">سعر البيع</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  [(ngModel)]="product.sale_price"
                  name="sale_price"
                  placeholder="0.00"
                />
              </mat-form-field>
            </div>

            <!-- Stock Quantity -->
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">الكمية</mat-label>
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="number"
                  [(ngModel)]="product.stock_quantity"
                  name="stock_quantity"
                  placeholder="0"
                />
              </mat-form-field>
            </div>

            <!-- Supplier -->
            <!-- <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block">المورد</mat-label>
              <mat-form-field class="w-100">
                <mat-select [(ngModel)]="product.supplier" name="supplier">
                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                    {{ supplier.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

          </div>
        </form>

        <!-- Actions -->
        <div class="m-t-12">
          <button
            mat-stroked-button
            (click)="onSubmit()"
            color="primary"
            class="m-r-8"
          >
            حفظ
          </button>
          <button (click)="goBack()" mat-stroked-button color="warn">
            إلغاء
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</html>
